/*
282F36	202528	0D1923	7C8D9A	84909A
*/

body
{
	background: #D7D7BD url(../images/bg-stripes.png) repeat;
	font-family: 'Exo 2', sans-serif;
	font-weight: 300;
	color: #282F36;
	width: 100%;
	height: 100%;
}

.table
{
	width: auto;
	position: relative;
}

.btn{
	margin: 2px;
}

.table > thead > tr > th, 
.table > tbody > tr > th, 
.table > tfoot > tr > th, 
.table > thead > tr > td, 
.table > tbody > tr > td, 
.table > tfoot > tr > td{
	padding: 4px;
}

.table.table.table-bordered-games td{
font-size: 13px;
padding: 0px;
vertical-align: middle;
border: 1px solid #dddddd;
}

form{
margin: 0px;
}


#container
{
	background-color: #1b7e9f;
	margin: 0 auto 0 auto;
	width: 800px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-top: 10px;	
	height: 650px;
}

#header
{
	text-align: center;
	background-color: #D7D7BD;
	border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
	-webkit-border-radius: 10px 10px 0px 0px;
	height: 100px;
}

h1.header
{
	line-height: 100px;
	color: black;
}

h2
{
	margin-top: 0px;
}

#content
{
	color: #282F36;
	background-color: #f4f4f4;
	height: 100%;
	width: 100%;
	padding: 5px 5px 15px 5px;
	margin-top: 0px;
	display: table;
}

#col-left
{
	width: 200px;
	float: left;
	overflow: hidden;
	padding-right: 5px;
	border-right: 1px solid black;	
}

#col-right
{
	width: 590px;
	padding-left: 5px;
	float: left;
}

#footer
{
	text-align: center;
	background-color: #D7D7BD;
	border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
	height: 50px;
	padding: 1px;
	margin-top: 0px;
}

h1.footer
{
	line-height: 50px;
	margin-top: 0px;
}

#error
{
	background-color: #FFEDED;
	color: red;
	font-weight: bold;
	text-align: center;
	margin: 5px 0 5px 0;
	border: 2px dotted red;
}

#error, p
{
	padding: 3px 0 3px 0;
}

p.left, p.right
{
	line-height: 50px;
	padding: 0;
}

p.left
{
	float: left;
	margin-left: 10px;
}

p.right
{
	float: right;
	margin-right: 10px;
}