body
{
	margin: 0;
	background: #ecf0f1;
	font-family: Tahoma, Arial;
	color: #ecf0f1;
}

#wrapper
{
	margin-top: 10px;
	width: 1024px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	background: #95a5a6;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

h1
{
	text-align: center;
	padding-top: 10px;
}

hr
{
	width: 90%;
}

#content
{
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	padding-bottom: 25px;
}

table.installerformtable, table.installerformtable tr, table.installerformtable td
{
	background: #7f8c8d;
	border: 1px solid black;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

table.installerformtable
{
	border-collapse: collapse;
}

table.installerformtable td:nth-child(1)
{
	width: 250px;
}

table.installerformtable td
{
	padding: 2px;
}

input[type='text'], input[type='password']
{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 400px;
}

select
{
	font-weight: bold;
}

select.imageselector
{
	color: black;
}